<h1>Lista de Prospectos</h1>
<div class="row">
    <div class="testbox">

        <div class="item">
            <input type="hidden" name="idProspecto" [value]="service.formData.idProspecto" />
            <label>Nombre: </label>
            <input disabled class="form-control form-control-lg" placeholder="Nombre Completo" name="nombre"
                #nombre="ngModel" [(ngModel)]="service.formDataListado.nombre" maxlength="100">
        </div>
        <div class="item">
            <label>Apellido Paterno: </label>
            <input disabled class="form-control form-control-lg" placeholder="Apellido Paterno" name="apellidoPaterno"
                #apellidoPaterno="ngModel" [(ngModel)]="service.formDataListado.apellidoPaterno" maxlength="50">
        </div>

        <div class="item">
            <label class="field">Apellido Materno: </label>
            <input disabled class="form-control form-control-lg" placeholder="Apellido Materno" name="apellidoMaterno"
                #apellidoMaterno="ngModel" [(ngModel)]="service.formDataListado.apellidoMaterno" maxlength="50">
        </div>
        <div class="item">
            <label>Calle: </label>
            <textarea disabled rows="2" class="form-control form-control-lg" placeholder="Calle" name="calle"
                #calle="ngModel" [(ngModel)]="service.formDataListado.calle" maxlength="200">
    </textarea>
        </div>
        <div class="item">
            <label>Número de calle: </label>
            <input disabled class="form-control form-control-lg" placeholder="####" name="numeroCalle"
                #numeroCalle="ngModel" [(ngModel)]="service.formDataListado.numeroCalle" maxlength="4">
        </div>
        <div class="item">
            <label>Colonia: </label>
            <input disabled class="form-control form-control-lg" placeholder="Colonia" name="colonia" #colonia="ngModel"
                [(ngModel)]="service.formDataListado.colonia" maxlength="50">
        </div>
        <div class="item">
            <label>Código Postal: </label>
            <input disabled class="form-control form-control-lg" placeholder="Código Postal" name="cp" #cp="ngModel"
                [(ngModel)]="service.formDataListado.cp" maxlength="5">
        </div>
        <div class="item">
            <label>Telefono: </label>
            <input disabled class="form-control form-control-lg" placeholder="Telefono" name="telefono"
                #telefono="ngModel" [(ngModel)]="service.formDataListado.telefono" maxlength="10">
        </div>
        <div class="item">
            <label>RFC: </label>
            <input disabled class="form-control form-control-lg" placeholder="RFC" name="rfc" #rfc="ngModel"
                [(ngModel)]="service.formDataListado.rfc" maxlength="13" minlength="12">
        </div>

        <div class="item">
            <label>Estatus: </label>
            <input disabled class="form-control form-control-lg" placeholder="Estatus" name="estatus" #estatus="ngModel"
                [(ngModel)]="service.formDataListado.estatus" maxlength="13" minlength="12">
        </div>

        <div class="item">
            <label>Observaciones: </label>
            <input required disabled class="form-control form-control-lg" name="observaciones" #observaciones="ngModel"
            [class.invalid]="observaciones.invalid && observaciones.touched" [(ngModel)]="service.formDataListado.observaciones" maxlength="13" minlength="12">
        </div>

    </div>
    <div class="col-md-6" id="cl-tabla">
        <input type="text" [(ngModel)]="searchValue" placeholder="Buscar..." id="buscador" />
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th hidden>Calle</th>
                    <th hidden>#</th>
                    <th hidden>C.P.</th>
                    <th hidden>Teléfono</th>
                    <th hidden>RFC</th>
                    <th>Estatus</th>
                    <th>Archivos</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list | searchfilter:searchValue">
                    <td (click)="populateForm(pd)">{{pd.nombre}}</td>
                    <td (click)="populateForm(pd)">{{pd.apellidoPaterno}}</td>
                    <td (click)="populateForm(pd)">{{pd.apellidoMaterno}}</td>
                    <td hidden>{{pd.calle}}</td>
                    <td hidden>{{pd.numeroCalle}}</td>
                    <td hidden>{{pd.colonia}}</td>
                    <td hidden>{{pd.cp}}</td>
                    <td hidden>{{pd.telefono}}</td>
                    <td hidden>{{pd.rfc}}</td>
                    <td (click)="populateForm(pd)">{{pd.estatus}}</td>
                    <td><button (click)="download(pd.idProspecto)">Descargar</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>